@model DataAccess.Models.User

<div id="form">
    <div id="form-title">
        <span><a asp-controller="auth" asp-action="register">REGISTER</a></span>
        <span><a asp-controller="auth" asp-action="login" style="color: red;">LOG IN</a></span>
    </div>
    <div id="form-content">
        @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
        {
            <label>Email<span style="color: red;">*</span></label>

            <br />
            @Html.TextBoxFor(m => m.Email)

            <br />
            <label>Password<span style="color: red;">*</span></label>

            <br />
            @Html.PasswordFor(m => m.Password)

            <br />
            <div></div>
            <div></div>
            <input type="submit" value="LOG IN" style="margin-bottom: 30px;" />
        }
    </div>
</div>